 <x-chartist
     *ngFor="let chart of charts"
      class="col-md-6"
      [data]="chart.data"
      [type]="chart.type"
      [options]="chart.options"
      [responsiveOptions]="chart.responsiveOptions"
      [events]="chart.events">
</x-chartist>

<div class="row">
  <div class="col-md-6">
    <async-chart></async-chart>
  </div>
  <div class="col-md-6">
    <live-chart></live-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <dynamic-chart></dynamic-chart>
  </div>
  <div class="col-md-6">
  </div>
</div>
